/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

/* #endregion general */


/* #region debug */
.debug .container-flex-main{
    background-color: #ad2a2a;
}
/* #endregion debug */


/* #region header */
.container-flex-header{
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    padding: 1rem;
}

.container-flex-nav{
    display: flex;
}

.nav-item{
    margin-left: 1rem;
    color: white;
}
/* #endregion header */


/* #region main */
.container-flex-main{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 3rem;
}

.product{
    position: relative;
    width: 25%;
}

.bg-discount-red{
    position:absolute;
    background-color: red;
    left: 0;
    bottom: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bg-sustainability{
    position:absolute;
    background-color: green;
    left: 4rem;
    bottom: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.heart-product{
    position:absolute;
    background-color: white;
    padding: 0.5rem;
    right: 0;
    top: 0.5rem;
}

.color-text-discount{
    color: red;
}

.delete-text-discount{
    text-decoration: line-through;
}

/* #endregion main */


/* #region footer */

/* #endregion footer */