/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

/* #endregion general */


/* #region debug */
.debug .container-flex-main{
    background-color: #ad2a2a;
}
/* #endregion debug */


/* #region header */
.container-flex-header{
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    padding: 1rem;
}

.container-flex-nav{
    display: flex;
}

.nav-item{
    margin-left: 1rem;
    color: white;
}
/* #endregion header */


/* #region main */
.container-flex-main{
    display: flex;
    justify-content: center;
    background-color: white;
}

.item-main{
    height: 400px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-item-main{
    margin-left: 1rem;
}

.color-text-discount{
    color: red;
}

.delete-text-discount{
    text-decoration: line-through;
}



/* #endregion main */


/* #region footer */

/* #endregion footer */