/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}
/* #endregion general */

/* #region debug */
/* .debug .container-flex-main{
    background-color: #ad2a2a;
} */
/* #endregion debug */

/* #region header */
.container-flex-header{
    display: flex;
    justify-content: space-between;
    background-color: #ff6900;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}
header{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.container-flex-nav{
    display: flex;
}

.nav-item{
    margin-left: 1rem;
    color: white;
    font-weight: bold;
}
.nav-text{
    margin-right: 1rem;
    color: white;
    font-weight: bold;
}
/* #endregion header */

/* #region main */
main{
    padding-top: 5rem;
}

.container-flex-main{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 2rem;
}

.space{
    padding-bottom: 2rem;
}

.product{
    position: relative;
    width: 25%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bg-discount-red{
    position:absolute;
    background-color: red;
    color: white;
    left: 0;
    bottom: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 3;
}

.bg-sustainability{
    position:absolute;
    background-color: green;
    color: white;
    left: 4rem;
    bottom: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 3;
}

.heart-product{
    position:absolute;
    background-color: white;
    padding: 0.5rem;
    right: 0;
    top: 0.5rem;
    z-index: 3;
}

.color-text-discount{
    color: red;
}

.delete-text-discount{
    text-decoration: line-through;
}

.bg-sustainability-near{
    position:absolute;
    background-color: green;
    color: white;
    left: 0;
    bottom: 6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.img1{
    position: relative;
}

.img2{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.product:hover .img2{
    display: block;
}
/* #endregion main */

/* #region footer */
.container-flex-footer{
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.title-foot-white{
    color: white;
}

.text-foot-white{
    color: white;
    font-size: 0.7rem;
    margin-right: 0.7rem;
}
/* #endregion footer */